WithPeak[^]: wym
Suppress[^]: y

# Внешний скрипт: iface_stats.sh wlp2s0
Target[wlp2s0]: `/home/kemran/System-Programing-Apps/6_lab/iface_stats.sh wlp2s0`
WorkDir: /home/kemran/System-Programing-Apps/6_lab/html/mrtg
Options[wlp2s0]: growright
Title[wlp2s0]: wlp2s0 Traffic
PageTop[wlp2s0]: wlp2s0 Traffic
MaxBytes[wlp2s0]: 99999999
kilo[wlp2s0]: 1024
YLegend[wlp2s0]: bytes per Second
ShortLegend[wlp2s0]: bytes/s
LegendO[wlp2s0]: wlp2s0 In Traffic :
LegendI[wlp2s0]: wlp2s0 Out Traffic :
WriteExpires: Yes
Refresh: 300

